.dashboard-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
}

.dashboard-profile {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dashboard-opportunities {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.dashboard-opportunities-card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

.link {
    color: #FC4445;
}

/*.dashboard-user-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
}*/

.dashboard-opportunity-card {
    width: 45%;
    margin-right: auto;
    margin-top: 16px;
}

.dashboard-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 15px;
}

.dashboard-item-name {
    width: 15%;
}

@media (max-width: 768px) {
    .dashboard-container {
        width: 90%;
    }

    .dashboard-item-name {
        width: 40%;
    }

    .dashboard-profile {
        width: 100%;
    }

    .dashboard-opportunities {
        width: 100%;
    }

    .dashboard-opportunity-card {
        width: 100%;
    }
}